/target
/lib
/classes
/checkouts
/logs
pom.xml
pom.xml.asc
app.stop
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.git_info
.DS_Store
.nrepl-port
package.by.packager
conf/app.conf
