{
  :jetty {
    :port ${jetty_port}
    :threads ${jetty_threads}
  }
  :db {
    :classname   "com.mysql.jdbc.Driver" 
    :subprotocol "mysql"
    :user        "${db_username}"
    :password    "${db_password}"
    :subname     "//${db_subname}"
  }
  :gpdb_ws {
    :url "${gpdb_ws_domain}"
  }
}
